{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

          <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="">

        <title>Coffee</title>

        {% include "loadcss.html" %}

    </head>

<body>
    <header id="header">
        {% include "navbar.html" %}

        <div class="container">
            <div class="row">
                <div class="logo">
                    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                        <img src="{% static "img/logo.png" %}" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="tobottom">
            <div class="sendform">
                <span><h1>Доставка меленої кави та кави в зернах</h1></span>
                <form class="form-inline" method="post" action="">{% csrf_token %}
                    <div class="form-group col-sm-6 col-xs-6">
                        {% if form.name.errors %}
                            <style>
                                #id_name{
                                    border-bottom: solid 1px red;
                                }
                            </style>
                        {% endif %}
                        {{ form.name }}
                    </div>
                    <div class="form-group col-sm-6 col-xs-6">
                        {% if form.phone.errors %}
                            <style>
                                #id_phone{
                                    border-bottom: solid 1px red;
                                }
                            </style>
                        {% endif %}
                        {{ form.phone }}
                    </div>
                    <div class="formcontent">
                        <div class="col-sm-6 col-xs-6">
                            <button type="submit" class="btn">Замовити</button>
                        </div>
                        <div class="tel col-sm-6 col-xs-6">
                            <span>aбо телефонуй</span>
                            <a href=""><i class="fa fa-phone fa-1x"></i>088 123 55 88</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </header>

    <section class="welcome">
        <span id="welcome" style="position: relative; top: -135px; padding: 0; margin: 0;"></span>
         <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h3>Діма Радзевич і компанія <br>запрошуємо</h3>
                    <p>
                        Ми не можемо продати вам щастя.<br>Але в нас є смачна кава і зігріваючий душу чай. А це практично те саме! Приходьте до нас, ми поділимось приємними емоціями ^_^
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <img src="{% static "img/welcome_img1.jpg" %}" class="img-responsive">
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <img src="{% static "img/welcome_img2.jpg" %}" class="img-responsive">
                </div>
            </div>
        </div>

    </section>

    <section class="takewithyou">
        <span id="takewithyou" style="position: relative; top: -20px; padding: 0; margin: 0;"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-7 col-sm-5 col-sm-offset-7 col-xs-6 col-xs-offset-3">
                    <div class="cup_shad">
                        <h1>Візьми з собою:</h1>
                        <ul>
                            <li><i class="my my_i"></i>еспресо</li>
                            <li><i class="my my_i"></i>американо</li>
                            <li><i class="my my_i"></i>лате</li>
                            <li><i class="my my_i"></i>горячий шоколад</li>
                            <li><i class="my my_i"></i>капучіно</li>
                            <li><i class="my my_i"></i>какао</li>
                            <li><i class="my my_i"></i>ароматний чай</li>
                            <li><i class="my my_i"></i>вдалі жарти та заряд<br>позитивної енергії</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery">
        <span id="gallery" style="position: relative; top: -20px; padding: 0; margin: 0;"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1>Наші смаколики</h1>
                    <div id="smak" class="owl-carousel">
                        <div class="item"><img src="{% static "img/img1.jpg" %}" class="img-responsive"></div>
                        <div class="item"><img src="{% static "img/img2.jpg" %}" class="img-responsive"></div>
                        <div class="item"><img src="{% static "img/img3.jpg" %}" class="img-responsive"></div>
                        <div class="item"><img src="{% static "img/img2.jpg" %}" class="img-responsive"></div>
                        <div class="item"><img src="{% static "img/img1.jpg" %}" class="img-responsive"></div>
                        <div class="item"><img src="{% static "img/img2.jpg" %}" class="img-responsive"></div>
                        <div class="item"><img src="{% static "img/img3.jpg" %}" class="img-responsive"></div>
                        <div class="item"><img src="{% static "img/img2.jpg" %}" class="img-responsive"></div>
                        <div class="item"><img src="{% static "img/img1.jpg" %}" class="img-responsive"></div>
                        <div class="item"><img src="{% static "img/img3.jpg" %}" class="img-responsive"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="coffeebook">
        <span id="coffeebook" style="position: relative; top: 0px; padding: 0; margin: 0;"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12 cl-sm-12 col-xs-12">
                    <div class="shelf">
                        <img src="{% static "img/shelf.png" %}" class="img-responsive">
                        <h1>Кава + книга</h1>
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                            <p id="mainnews">Перші книжки вже в кав"ярні. Приходьте, обмінюймося прочитаними книжками, давайте разом робити свій світ цікавішим ^_^</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container postbook">
            <div class="row">
                <div id="blocknews1" class="col-md-3 col-sm-6 col-xs-6">
                    <div class="infoblock">
                        <span>Кава + книга1</span>
                        <p id="news1">
                            Перші книжки вже в кав"ярні. Приходьте, обмінюймося прочитаними книжками, давайте разом робити свій світ цікавішим ^_^
                        </p>
                    </div>
                </div>
                <div id="blocknews2" class="col-md-3 col-sm-6 col-xs-6">
                    <div class="infoblock">
                        <span>Вагова кава</span>
                        <p id="news2">
                            Для всіх поціновувачів смачної кави у великому горнятку звареної власноруч. Мобільна кав"ярня пропонує вагову каву у зернах та змелену під будь який спосіб приготування. 100 грам коштує 25 гривень Наповніть свій дім ароматом фреш -кави.
                        </p>
                    </div>
                </div>
                <div id="blocknews3" class="col-md-3 col-sm-6 col-xs-6">
                    <div class="infoblock">
                        <span>Імунний чай з імбирем </span>
                        <p id="news3">
                            Осінь настала холодно стало... Спробуйте смачний імунний чай з імбирем , лимоном та журавлиною . Смакота!!! Гріємо руки та насолоджуємося осінню.
                        </p>
                    </div>
                </div>
                <div id="blocknews4" class="col-md-3 col-sm-6 col-xs-6">
                    <div class="infoblock">
                        <span>Кава Алах-Бабах</span>
                        <p id="news4">
                            Смачна подія від Good Mood Coffe!! Кава Алах-Бабах за оригінальним східним рецептом з дрібкою любові та приворотним зіллям. Смакуйте та діліться враженнями!!!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cups">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                     <img src="{% static "img/coffee_cups.png" %}" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1>Завітай до нас і отримай<br> найсмачнішу каву і приємні емоції</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="map">
        <span id="cont" style="position: relative; top: 0; padding: 0; margin: 0;"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-5 col-xs-12">
                    <div class="info">
                        <div class="cl-md-12 col-sm-12 col-xs-12">
                        <div class="contacts">
                            <h1>Контакти</h1>
                            <p>м. Костопіль</p>
                            <p><i class="fa fa-map-marker"></i>вул. М. Грушевського / 21</p>
                            <p><i class="fa fa-map-marker"></i>парк Тараса Шевченка</p>
                            <p><i class="fa fa-phone "></i>099 123 45 67<br>067 678 45 12</p>
                        </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="worktime">
                            <h2>Години роботи</h2>
                            <p><i class="fa fa-clock-o"></i>ПН-НД: 8:00 - 21:00</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-7 col-xs-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20137.559504451514!2d26.428556443174035!3d50.88310231602039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f485004c70891%3A0x5557f0824d95eb89!2z0JrQvtGB0YLQvtC_0ZbQu9GMLCDQoNGW0LLQvdC10L3RgdGM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1suk!2sua!4v1445160659955" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8 pull-left">
                    <ul class="foot_links">
                        <li><a href="#header">Кава</a></li>
                        <li><a href="#welcome" >Вітаю</a></li>
                        <li><a href="#takewithyou">Візьми з собою</a></li>
                        <li><a href="#gallery">Наші смаколики</a></li>
                        <li><a href="#coffeebook">Новини</a></li>
                        <li><a href="#cont">Контакти</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 pull-right">
                    <ul class="social_links">
                        <li><a href="#"><i class="my my_d"></i></a></li>
                        <li><a href="#"><i class="my my_h"></i></a></li>
                        <li><a href="#"><i class="my my_b"></i></a></li>
                        <li><a href="#"><i class="my my_f"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

{% include "loadjs.html" %}
</body>
</html>